.WordLetter {
  background-color: grey;
  border: 1px solid black;
  color: white;
  font-size: 30px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.correct {
  background-color: #2ecc40;
}

.incorrect {
  background-color: #ff4136;
}
